:host {
  display: block;
}

.trusted-partners--dark .trusted-partners__link {
  color: rgb(209 213 219);
}

.trusted-partners--dark .trusted-partners__link:hover {
  color: white;
}

.trusted-partners--light .trusted-partners__link {
  color: rgb(55 65 81);
}

.trusted-partners--light .trusted-partners__link:hover {
  color: rgb(37 99 235);
}

.dark .trusted-partners--light .trusted-partners__link {
  color: rgb(203 213 225);
}

.dark .trusted-partners--light .trusted-partners__link:hover {
  color: rgb(96 165 250);
}
